    <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Ranking of Bon Appetit </title>
    <style>
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }   
    </style>
    <head>
    <body>
    <p style="text-align:center"> <b>Ranking of Bon Appetit Shows</b></p>
    <table style="width:75%">
      <tr>
        <td style="text-align:center"><b>Tier 1:</b> The Golden Elixir 
        (aka Pasta Water)</td>
        <td style="text-align:center"><b>It's Alive!</b>
        <p style="text-align:center"><img src="/static/itsalive.jpg" width="200" height="133" alt="Brad"></p></td>
        <td style="text-align:center"><b>Gourmet Makes</b>
        <p style="text-align:center"><img src="/static/gourmetmakes.jpg" width="200" height="113" alt="Claire"></p></td>
      </tr>
    </table>
    <p>Both It's Alive with Brad and Gourmet Makes with Claire truly belong in Tier 1, aptly labeled pasta water, as it
    is the binding agent for all good pasta dishes. It's Alive and Gourmet Makes both expertly use their host's personalities to make the shows
    what they are.</p>
    <p>In It's Alive, host Brad Leone goes all around the world while exploring the plethora of amazing foods it has to ffer
    that technically use ingredients that are still alive. From crabbing to making sourdough starter, 
    Brad's boundless energy and enthusiasm take him to places like Hawaii and Alaska to see where the
    food we eat that is alive comes from. Though the viewer often finishes the video having learned nothing of use in the kitchen,
    the time is still well spent because Brad's personality makes it worth it.</p>
    <p>In Gourmet Makes, host/professional baker Claire Saffitz is required to remake and improve popular snack items, from Twinkies to Doritos,
    all from scratch. Her endeavors often include repurposing tools in the Test Kitchen to perfectly recreate the snacks, and the 
    hurdles she faces are relatable to all viewers. She has gained quite a cult following on Youtube because of this series.</p>
    <table style="width:75%">
      <tr>
        <td style="text-align:center"><b>             Tier 2:</b> Kosher Salt      </td>
        <td style="text-align:center"><b>Back to Back Chef</b>
        <p style="text-align:center"><img src="/static/back2back.jpg" width="200" height="113" alt="Carla"></p></td>
        <td style="text-align:center"><b>Trying Everything on the Menu</b>
        <p style="text-align:center"><img src="/static/tryeverything.jpg" width="200" height="113" alt="Delany"></p></td>
        <td style="text-align:center"><b>Reverse Engineering</b>
        <p style="text-align:center"><img src="/static/reverse.jpg" width="200" height="113" alt="Chris"></p></td>
      </tr>
    </table>
    <p>Back to Back Chef with Carla Lalli Music, Trying Everything on the Menu with Alex Delany, and Reverse Engineering are incredible shows. 
    However, they are in Tier 2 because they just aren't at the same level of It's Alive and Gourmet Makes.</p>
    <p>In Back to Back Chef, Carla teams up with a celebrity visiting the Test Kitchen, challenging them to make the same 
    dish as her with the same ingredients, but only giving them verbal instructions on how to make the dish (i.e. the celebrities
    cannot see what Carla is doing. It often leads to hilarious shenanigans and unexpected results, and Carla's bubbly laughter and
    go-with-the-flow personality make everything flow smoothly.</p>
    <p>In Trying Everything on the Menu, host Alex Delany somehow persuaded his superiors to pay him to go to various restaurants
    around New York and try every single thing on the menu, usually with the help of some friends. He takes one perfect bite of each item,
    and at the end of each video, gives his top three items. Delany's charismatic personality and ability to look at people like he's in love with them
    brings viewers back time and time again.</p>
    <p>In Reverse Engineering, super sensor Chris Morocco is given a dish (usually pretty complicated), and told to recreate it. There's a catch though--he cannot see the dish
    anytime during the recreation process. What usually ensues is Morocco riding grocery carts to find the exact cheese and meats used in each meal--and often succeeding
    and failing in surprising ways. Morocco's wit and increasing frustration keep the viewers laughing throughout.</p>
    <table style="width:75%">
      <tr>
        <td style="text-align:center"><b>Tier 3:</b> Pasta Cooked Past al dente</td>
        <td style="text-align:center"><b>Pro Chef Tries/Learns Something</b>
        <p style="text-align:center"><img src="/static/prochef.jpg" width="200" height="113" alt="Molly"></p></td>
        <td style="text-align:center"><b>Every Way to Cook Something</b>
        <p style="text-align:center"><img src="/static/everyway.jpg" width="200" height="113" alt="Amiel"></p></td>
      </tr>
    </table> 
    <p>Last but not least, Tier 3: Pro Chef Tries/Learns Something with Molly Baz and Every Way to Cook Something with Amiel Stanek. Though certainly
    not bad shows, these shows often miss the mark with execution of their ideas. The videos are still enjoyable, of course, but they miss
    the magic of the other shows on the Bon Appetit channel.</p>
    <p>In Pro Chef Tries/Learns Something, host Molly Baz is sent on a scavenger hunt style adventure to learn or cook something, from learning
    how to cook grossly expensive caviar to learning how to make food for her dog, Tuna. Though Molly often makes the adventures interesting and fun,
    her sarcasm can sometimes be a touch too sardonic, and her humor in general sometimes misses the mark.</p>
    <p>Host Amiel Stanek goes through every possible way to cook a particular food in his show "Every Way to Cook x", ranging from beef to eggs
    to potatoes. He starts from raw/traditional ways to cook something, and usually ends up with truly ridiculous manners of cooking, like the dishwasher and
    using a laser. Though the idea is excellent, sometimes the robotic but almost casual way that Stanek presents his work is sometimes off putting.</p>
    
    <p style="text-align:center"> <b>A link to Bon Appetit's Youtube Channel, if you are so interested: </b> <a href = "https://www.youtube.com/channel/UCbpMy0Fg74eXXkvxJrtEn3w"> Bon Appetit! </a> </p>

</html>

