    <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p style="text-align:center"> <b>Name:</b> Shilpita Mitra-Behura </p>
    <p style="text-align:center"><img src="/static/photoofme.jpg" width="187" height="250" alt="Why"></p> 
    <p style="text-align:center"> <b>Current Year: </b>Freshman</p>
    <p style="text-align:center"> <b>Intended Major: </b> Applied Math </p>    
    <p style="text-align:center"> <b>My Favorite Website: </b> <a href = "https://waitbutwhy.com/"> Wait But Why? </a> </p>
    
    <p style="text-align:center"><a href ="/libraryalign"> The Official Alignment of Columbia Libraries </a></p>
    <p style="text-align:center"><a href ="/bonappetit"> Ranking of Bon Appetit Shows (the Youtube channel) </a></p>

    </body>
</html>

