    <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> <b>Name:</b> Shilpita Mitra-Behura </p>
    <img src="/static/photoofme.jpg" width="187" height="250" alt="Why"> 
    <p> <b>Current Year: </b>Freshman</p>
    <p> <b>Intended Major: </b> Applied Math </p>
    
    <p> <b>My Favorite Website: </b> <a href = "https://waitbutwhy.com/"> Wait But Why? </a> </p>
    
    <a href ="/sudoku"> Play Sudoku! </a>
    </body>
</html>

