    <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Alignment of Columbia Libraries</title>
    <style>
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }   
    </style>
    <head>
    <body>
    <p style="text-align:center"> <b>Alignment of Columbia Libraries</b> (that have I studied/been in) </p>
    <p>**purely my (correct) opinion!!!</p>
    <table style="width:100%">
      <tr>
        <td style="text-align:center"><b>Lawful Good</b>
        <p style="text-align:center"><img src="/static/milstein.jpg" width="250" height="167" alt="Milstein"></p></td>
        <td style="text-align:center"><b>Neutral Good</b>
        <p style="text-align:center"><img src="/static/lehman.jpg" width="250" height="166" alt="Lehman"></p></td>
        <td style="text-align:center"><b>Chaotic Good</b>
        <p style="text-align:center"><img src="/static/noco.jpg" width="250" height="155" alt="Noco"></p></td>
      </tr>
      <tr>
        <td style="text-align:center"><b>Lawful Neutral</b>
        <p style="text-align:center"><img src="/static/avery.jpg" width="250" height="168" alt="Avery"></p></td>
        <td style="text-align:center"><b>True Neutral</b>
        <p style="text-align:center"><img src="/static/eastasian.jpg" width="250" height="167" alt="EastAsian"></p></td>
        <td style="text-align:center"><b>Chaotic Neutral</b>
        <p style="text-align:center"><img src="/static/math.jpg" alt="Math"></p></td>
      </tr>
      <tr>
        <td style="text-align:center"><b>Lawful Evil</b>
        <p style="text-align:center"><img src="/static/low.jpg" width="250" height="190" alt="Low"></p></td>
        <td style="text-align:center"><b>Neutral Evil</b>
        <p style="text-align:center"><img src="/static/butler.jpg" width="250" height="166" alt="Butler"></p></td>
        <td style="text-align:center"><b>Chaotic Evil</b>
        <p style="text-align:center"><img src="/static/butstacks.jpg" width="250" height="141" alt="ButStacks"></p></td>
      </tr>
    </table> 
    <p><b>Explanations:</b></p>
    <p>Milstein: Beautiful. Recently renovated. Has comfortable seats. It can sometimes be crowded but that's just the name of the game.
    Have I definitely seen a random person who obviously did not attend either Columbia or Barnard taking a nap in a Barnard seat while snoring very loudly? Yes.
    But we'll ignore that for the general Goodness exuded by Milstein. Hats off to you, Barnard. Truly deserving of Lawful Good.</p>
    
    <p>Lehman: Admittedly, I've only been here twice. However, if you think of the words 'adult' and 'library' put together,
    Lehman is what you think of. Beautiful clean spaces, very nice secluded study spaces if you want, and a somewhat confusing
    but also very organized stacks. Overall, a great library. Only downside is that it's SO hard to find. A prime example of neutral good.</p>
    
    <p>NOCO: Yes, sometimes it smells like BO in there. But, the study spaces are really nice and spread out, and if you get there in time,
    you can get the booths, which are top notch study spaces. Beware of finding people asleep in them during finals seasons though. The view of Broadway is *chefs kisses*.
    Somewhat chaotic area but is trying its best.</p>
    
    <p>Avery: Avery fulfills its purpose of being a library. It's annoying (and lawful, I suppose) in its enforcement of the 
    no drinks rule, but the study spaces are nice and the seats are the perfect height to crack your back. Did I once spot a gargantuan cockroach creeping its way around the floor? Yes.
    But we'll ignore that and the crusty bathrooms for Alignment Purposes. A Lawful Neutral library.</p>
    
    <p>East Asian: The East Asian library is truly neutral. Very emblematic of Columbia with its fancy ceiling and its
    raised seating areas, but its quiet and unassuming, and a very nice place to study. The perfect example of a good library to study in.</p>
    
    <p>Mathematics: Yes, the math building has a library. Does it really deserve to be called that? No. But it does serve as a place to study,
    and generally it's pretty quiet and empty, so it can be chaotic neutral. Undeserving of being a library but still...somewhat functioning as one.</p>
    
    <p>Low Library: Ah, the famous one. Columbia's very own fake Pantheon. Does Low still actually serve as a library? No. That's why it's lawful evil--
    has library in its name, and thereby technically is one even though it fails utterly to serve that purpose. Low's one saving grace is that when New York blesses us with sunny days,
    it's steps serve as a perfect place to study with friend.</p>
    
    <p>Butler: I truly mean no insult, putting Butler as neutral evil. It is a perfectly well functioning library, and has
    good study spots. But the energy given off by the students there...literally terrifying. Everyone is stressed, and all the cortisol in the air
    makes a cesspool of oppressive tension.</p>
    
    <p>Butler Stacks: Last, and certainly least, Butler Stacks. Unlike with Butler Library, I do mean insult when I put Butler Stacks as chaotic evil.
    Wanting to study here means you hate sunlight, and what kind of human hates sunlight? Please get out of this dungeon and go for a walk...you really need it.
    Why you would want to study in this dingy, dark atmosphere beats me, and I truly worry for you if this is your studying area of choice. I hope you find peace. </p>
    
    

</html>

